  .name-link {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    padding: 10px;
    color: black;
  }

  .name {
    color: #a11335;
  }

/* FOR FUTURE USE AND DEVELOPMENT OF THE HEADER SECTION */
  /* CSS for Old Devices Smaller than 320px (mobile) */
  @media (max-width: 320px) {
    .name, .name-link{
      font-size: 24px;
    }
  }
  
  /* CSS for screens between 321px and 575px (mobile) */
  @media (min-width: 321px) and (max-width: 575px) {
    .name, .name-link {
      font-size: 37px;
    }
  }
  
  /* CSS for screens between 576px and 992px (tablet) */
  @media (min-width: 576px) and (max-width: 992px) {
    .name, .name-link {
      font-size: 58px;
    }
  }
  
  /* CSS for screens greater than 992px (desktop) */
  @media (min-width: 993px) {
    .name, .name-link {
      font-size: 80px;
    }
  }